<!DOCTYPE html>
{% load bootstrap3 %}
<html{% if request.LANGUAGE_CODE %} lang="{{ request.LANGUAGE_CODE }}"{% endif %}>

<head>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
{% bootstrap_css %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% if 'javascript_in_head'|bootstrap_setting %}{% bootstrap_javascript jquery=True %}{% endif %}
    {% block bootstrap3_extra_head %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><a href="/" class="navbar-link">首页</a></li>
    {% if user.is_authenticated %}
    <li><p class="navbar-text"> 欢迎 {{ user.username }}</p></li>
    {% endif %}
    </ul>
    <ul class="nav navbar-nav navbar-right">
    {% if user.is_authenticated %}
    <li><a href="/admin/logout" class="navbar-link">退出登录</a></li>
    {% else %}
    <li><p class="navbar-text"><a href="{% url 'login'  %}" class="navbar-link">请登录</a></p></li>
    {% endif %}
    </ul>
  </div>
</nav>
  <div class="container">
{% if title %} &rsaquo; {{ title }}{% endif %}
{% block content %}
{% endblock %}
  </div>
{% if not 'javascript_in_head'|bootstrap_setting %}{% bootstrap_javascript jquery=True %}{% endif %}
{% block bootstrap3_extra_script %}{% endblock %}
</body>

</html>
