{% extends 'groceries/base.html' %}

{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block title %}借出物品{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
  <div class="col-md-4">
      <form action="" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
      <button type="submit" class="btn btn-primary">
        {% bootstrap_icon "star" %} Submit
      </button>
    {% endbuttons %}
  </form>
  </div>
  </div>
</div>
{% endblock %}
