{% extends 'nav.html' %}

{% load django_bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block subtitle %}
{% if f == "lend" %}
-借出设备
{% endif %}
{% if f == "new" %}
-新建设备
{% endif %}
{% endblock %}
{% block ac3 %}active{% endblock %}
{% block main %}
<div class="row">
  <div class="col-md-12">
      <form action="" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
      <button type="submit" class="btn btn-primary">
        提交
      </button>
    {% endbuttons %}
  </form>
  </div>
</div>
{% endblock %}
