{% extends "bootstrap.html" %}
{% load static %}

{% block title %}电子信息科学基础实验中心{% block subtitle %}{% endblock %}{% endblock %}
{% block body_class %}homepage{% endblock %}
{% block content %}
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Company name</a>
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
      <a class="nav-link" href="#">Sign out</a>
      </li>
    </ul>
</nav>
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#">
            <span data-feather="home"></span>
            我的课程<span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
            <span data-feather="file"></span>
            我的设备 
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
            <span data-feather="file"></span>
            预订会议室 
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      {% block main %}
      {% endblock %}
  </div>
</div>
{% endblock %}
