{% extends "bootstrap.html" %}
{% load static %}

{% block title %}电子信息科学基础实验中心{% block subtitle %}{% endblock %}{% endblock %}
{% block body_class %}homepage{% endblock %}
{% block content %}
<nav class="navbar navbar-expand-md navbar-dark sticky-top bg-dark shadow">
  <div class="container-fluid">
  <a class="navbar-brand" href="/">电子信息科学基础实验中心</a>
   <button class="navbar-toggler d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
   <span data-feather="sidebar">菜单</span></button>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
    {% if user.is_authenticated %}
      <a class="nav-link" href="/logout/">退出登录</a>
    {% else %}
      <a class="nav-link" href="{% static 'html/login.html' %}">登录</a>
    {% endif %}
    </li>
  </ul>
  </div>
</nav>
<div class="container-fluid">
  {% block container %}
  <div class="row">
    <div class="col-md-3 col-lg-3 mt-3">
    <nav id="sidebarMenu" class="d-md-block bg-light sidebar collapse">
      <div class="sidebar-sticky mt-3 mx-5">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link {% block ac1 %}{% endblock %}" href="/">
            <span data-feather="check"></span>
            个人中心 
            </a>
          </li>
          <li class="nav-item">
              <a class="nav-link {% block ac2 %}{% endblock %}" href="{% url 'courses:index' %}">
            <span data-feather="sun"></span>
            全部课程
            </a>
          </li>
          {% if request.user.username == 'Teacher' %}
          <li class="nav-item">
            <a class="nav-link {% block ac3 %}{% endblock %}" href="{% url 'groceries:index' %}">
            <span data-feather="printer"></span>
            我的设备
            </a>
          </li>
          <li class="nav-item">
              <a class="nav-link {% block ac4 %}{% endblock %}" href="{% url 'meeting:index' %}">
            <span data-feather="calendar"></span>
            预订会议室
            </a>
          </li>
          <li class="nav-item">
              <a class="nav-link {% block ac5 %}{% endblock %}" href="{% url 'courses:rooms' %}">
            <span data-feather="activity"></span>
            全部实验室
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    </div>
    <div class="col-md-8 ml-sm-auto col-lg-8">
    <main role="main">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap justify-content-center pt-3 pb-2 mb-3 border-bottom">
      {% block main %}
      {% endblock %}
      </div>
    </main>
    </div>
  </div>
  {% endblock %}
</div>
{% endblock %}
{% block bootstrap4_extra_script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
<script> feather.replace() </script>
{% block morescripts %}
{% endblock %}
{% endblock %}
