{% extends "nav.html" %}
{% load static %}
{% block ac1 %}active{% endblock %}
{% block main %}
<div class="container">
<div class="row">
    <div class="col-md-12"><div class="card border-info"><div class="card-body">
   {{ request.session.realname }} 您好！<br>
   <script src="{% static 'js/weekcode.js' %}"></script>
   <script type="text/javascript">
    var date = new Date();
    document.write("今天是：" + date.getFullYear() + "年" + (date.getMonth() + 1) + "月" + date.getDate() + "日" + " 星期" + "日一二三四五六".charAt(date.getDay()));

   </script>
   ，现在是{{ schoolyear.get_status }}
    </div></div></div>
</div>
<br>
<div class="row">
  <div class="col-md-6">
    <div class="card border-primary mb-3">
    <div class="card-header alert-warning">
      本学期课程
    </div>
    <div class="card-body">
    {% if courses %}
     <table class="table table-home">
         <tr><th>课程名称</th><th>上课时间</th><th>上课地点</th></tr>
         {% for c in courses %}
         <tr> <td><a href="{% url 'courses:detail' c.course.id %}">{{ c.course }}</a></td>
             <td><script>weekcode("{{ c.week }}")</script></td>
             <td>{{ c.room }}
                 {% if request.user.username == 'Student' %}
                 {% if c.complete == 0 %}
                 <a class="btn btn-outline-danger" href="{% url 'courses:logAdd' c.id %}">实验记录</a>
                 {% endif %}
                 {% else %}
                 <a class="btn btn-outline-danger" href="{% url 'courses:logView' c.id %}">查看名单</a>
                 {% endif %}
             </td>
      </tr>
         {% endfor %}
     </table>
    {% else %}
    <p class="card-text">没有已选课程</p>
    {% endif %}
    </div>
    </div>
  </div>
</div>
    <footer class="footer">
      <div class="container">
        <p class="text-muted mt-3">
        需要帮助：请感兴趣的同学为网站提交代码（<a href="https://github.com/setarcos/DjangoLab">Github</a>）
        </p>
      </div>
    </footer>
</div>
{% endblock %}
