{% extends "nav.html" %}
{% block ac1 %}active{% endblock %}
{% block main %}
<div class="container">
<div class="row">
    <div class="col-md-12"><div class="card alert-info"><div class="card-body">
   {{ request.session.realname }} 您好！<br>
   <script type="text/javascript">
    var date = new Date();
    document.write("今天是：" + date.getFullYear() + "年" + (date.getMonth() + 1) + "月" + date.getDate() + "日" + " 星期" + "日一二三四五六".charAt(date.getDay()));

    function weekcode(week)
    {
        w = week / 10;
        document.write("星期" + "一二三四五六日".charAt(w - 1));
        if (week % 10 == 1) document.write("下午");
        if (week % 10 == 2) document.write("晚上");
    }
   </script>
   ，现在是{{ schoolyear.get_status }}
    </div></div></div>
</div>
<br>
<div class="row">
  <div class="col-md-6">
    <div class="card">
    <div class="card-header alert-warning">
      本学期课程
    </div>
    <div class="card-body">
    {% if courses %}
     <table class="table table-course">
         <tr><th>课程名称</th><th>上课时间</th><th>上课地点</th></tr>
         {% for c in courses %}
         <tr> <td><a href="{% url 'courses:detail' c.course.id %}">{{ c.course }}</a></td>
             <td><script>weekcode("{{ c.week }}")</script></td>
             <td>{{ c.room }}
                 {% if request.user.username == 'Student' %}
                 {% if c.complete == 0 %}
                 <a class="btn btn-outline-danger" href="{% url 'courses:logAdd' c.id %}">实验记录</a>
                 {% endif %}
                 {% else %}
                 {% endif %}
             </td>
      </tr>
         {% endfor %}
     </table>
    {% else %}
    <p class="card-text">没有已选课程</p>
    {% endif %}
    </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
