{% extends "nav.html" %}

{% load django_bootstrap5 %}

{% bootstrap_messages %}

{% block subtitle %}-增加新日程{% endblock %}
{% block main %}
<div class="container">
  <div class="row justify-content-center"><div class="col-md-6">
  <div class="card">
    <div class="card-header">增加新日程</div>
    <div class="card-body">
    {% for err in errors %}
    <div class="alert alert-danger" role="alert">
        <h4>{{ err }}</h4>
    </div>
    {% endfor %}
      <form action="" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% bootstrap_button "提交" type="submit" class="btn btn-primary" %}
      </form>
    </div>
  </div>
  </div>
</div></div>
{% endblock %}
{% block ac4 %}active{% endblock %}
{% block morescripts %}
<script>
$(document).ready(function(){
  var element = document.getElementById("id_date_year");
  if (element) {
    var parent = element.parentNode;
    parent.classList.add("input-group");
  }
  $("#id_repeatable_0").click(function(){
    $("label[for='id_date_year']").text("日期：");
	$("#id_week").prop('disabled', true);
  });
  $("#id_repeatable_1").click(function(){
    $("label[for='id_date_year']").text("截止时间：");
	$("#id_week").prop('disabled', false);
  });
});
</script>
{% endblock %}
