{% extends "nav.html" %}

{% load bootstrap4 %}

{% bootstrap_messages %}

{% block subtitle %}-日程列表{% endblock %}
{% block main %}
<div class="row">
  <div class="col-md">
    {% for err in errors %}
    <div class="alert alert-danger" role="alert">
        <h4>{{ err }}</h4>
    </div>
    {% endfor %}
      <form action="" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
      <button type="submit" class="btn btn-primary">
       提交 
      </button>
    {% endbuttons %}
      </form>
  </div>
</div>
{% endblock %}
{% block ac4 %}active{% endblock %}
{% block morescripts %}
<script>
$(document).ready(function(){
  $("#id_repeatable_0").click(function(){
    $("label[for='id_date_year']").text("日期");
	$("#id_week").prop('disabled', true);
  });
  $("#id_repeatable_1").click(function(){
    $("label[for='id_date_year']").text("截止时间");
	$("#id_week").prop('disabled', false);
  });
});
</script>
{% endblock %}
