{% extends "nav.html" %}

{% load bootstrap4 %}

{% bootstrap_messages %}

{% block subtitle %}-日程列表{% endblock %}
{% block main %}
<div class="row">
  <div class="col-md-5">
    {% for err in errors %}
    <div class="alert alert-danger" role="alert">
        <h4>{{ err }}</h4>
    </div>
    {% endfor %}
      <form action="" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
      <button type="submit" class="btn btn-primary">
       提交 
      </button>
    {% endbuttons %}
  </form>
  </div>
  <div class="col-md-5">
    <div class="alert alert-primary" role="alert">
       提示：固定时间的日程星期项被忽略
    </div>
    <div class="alert alert-primary" role="alert">
       提示：每周重复的日程日期项表示重复截止的日期，也就是设定日期之后的会议室不会被预订
    </div>
    <div class="alert alert-primary" role="alert">
       提示：起始时间和结束时间的格式是"HH:MM"，例如"11:30"表示11点30分
    </div>
    <div class="alert alert-primary" role="alert">
       提示：事由请简明扼要
    </div>
  </div>
</div>
{% endblock %}
{% block ac4 %}active{% endblock %}
{% block morescripts %}
<script>
$(document).ready(function(){
  $("#id_repeatable_0").click(function(){
    $("label[for='id_date_year']").text("日期");
	$("#id_week").prop('disabled', true);
  });
  $("#id_repeatable_1").click(function(){
    $("label[for='id_date_year']").text("截止时间");
	$("#id_week").prop('disabled', false);
  });
});
</script>
{% endblock %}
