{% extends 'groceries/base.html' %}

{% block title %}登录{% endblock %}

{% block content %}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<div class="container"><div class="row justify-content-md-center">
  <div class="col-md-4 bg-warning rounded-top">
    <h2>请登录 </h2>
  </div>
  <div class="w-100"></div>
  <div class="col-md-4 bg-info rounded-bottom">
    <form method="post" action="{% url 'login' %}" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <button type="submit" class="btn btn-primary">
        登录
    </button>
    {% endbuttons %}
    <input type="hidden" name="next" value="{{ next }}" />
    </form>
    {# Assumes you setup the password_reset view in your URLconf #}
    <p><a href="{% url 'password_reset' %}">忘记密码?</a></p>
  </div>
</div></div>

{% endblock %}
