{% extends 'groceries/base.html' %}

{% block title %}登录{% endblock %}

{% block content %}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<div class="jumbotron">
    <h1>请登录 </h1>
<form method="post" action="{% url 'login' %}" class="form">
{% csrf_token %}
{% bootstrap_form form %}
{% buttons %}
<button type="submit" class="btn btn-primary">
    登录
</button>
{% endbuttons %}
<input type="hidden" name="next" value="{{ next }}" />
</form>
{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">忘记密码?</a></p>
</div>

{% endblock %}
