{% extends 'nav.html' %}
 
{% block subtitle %}-课程详情{% endblock %}

{% block main %}
<script language="JavaScript">
function expendcode(code, idx)
{
    document.write(code.split(",")[idx]);
}
function termcode(term)
{
    if (term == 0) document.write("春季");
    else if (term == 1) document.write("秋季");
    else document.write("暑期");
}
</script>

<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item"><a class="nav-link active">课程详情</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'courses:groups' course.id %}">分组信息</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'courses:schedules' course.id %}">时间安排</a></li>
  </ul>
  <div class="tab-content" id="course-tabs">
    <table class="table table-course">
       <tr><th width="10%">课程名称</th> <td colspan="7"> {{ course.name }} </td> </tr>
       <tr><th>英文名称</th> <td colspan="7"> {{ course.ename }} </td></tr>
       <tr><th>课程编号</th> <td width="15%"> <script> expendcode("{{ course.ccode }}", 0) </script></td>
           <th width="12.5%">学分</th> <td width="12.5%"> <script> expendcode("{{ course.ccode }}", 1) </script></td>
           <th width="12.5%">课时</th> <td width="12.5%"> <script> expendcode("{{ course.ccode }}", 2) </script></td>
           <th width="12.5%">学期</th> <td> <script> termcode({{ course.term }}) </script></td></tr>
       <tr><th>授课教师</th> <td colspan="3"> {{ course.tea_name }} </td>
           <th>联系方式</th> <td colspan="3"> {{ course.mailbox }} </td></tr>
       <tr><th>课程大纲</th> <td colspan="7"> {{ course.intro|safe }}
           {% if request.session.schoolid == course.tea_id %}
           <a class="btn btn-outline-primary" href="{% url 'courses:courseUpdate' course.id %}">修改</a>
           {% endif %}
           </td></tr>
    </table>
  </div>
</div>
{% endblock %}
{% block ac2 %}active{% endblock %}

