{% extends 'nav.html' %}
 
{% block subtitle %}-课程详情{% endblock %}

{% block main %}
<script language="JavaScript">
function expendcode(code, idx)
{
    document.write(code.split(",")[idx]);
}
function termcode(term)
{
    if (term == 0) document.write("春季");
    else if (term == 1) document.write("秋季");
    else document.write("暑期");
}
function weekcode(week)
{
    w = week / 10;
    document.write("星期" + "一二三四五六日".charAt(w - 1));
    if (week % 10 == 1) document.write("下午");
    if (week % 10 == 2) document.write("晚上");
}
</script>

<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item"><a class="nav-link active" href="#course-md" data-toggle="tab">课程详情</a></li>
    <li class="nav-item"><a class="nav-link" href="#group-md" data-toggle="tab">分组信息</a></li>
  </ul>
  <div class="tab-content" id="course-tabs">
    <div class="tab-pane show active" id="course-md">
    <table class="table table-course">
       <tr><th width="100px">课程名称</th> <td> {{ course.name }} </td> </tr>
       <tr><th>英文名称</th> <td> {{ course.ename }} </td></tr>
       <tr><th>课程编号</th> <td> <script> expendcode("{{ course.ccode }}", 0) </script></td></tr>
       <tr><th>学分</th> <td> <script> expendcode("{{ course.ccode }}", 1) </script></td></tr>
       <tr><th>课时</th> <td> <script> expendcode("{{ course.ccode }}", 2) </script></td></tr>
       <tr><th>学期</th> <td> <script> termcode({{ course.term }}) </script></td></tr>
       <tr><th>授课教师</th> <td> {{ course.tea_name }} </td></tr>
       <tr><th>课程大纲</th> <td> {{ course.intro|safe }}
           {% if request.session.schoolid == course.tea_id %}
           <a class="btn btn-outline-primary" herf="#">修改</a>
           {% endif %}
           </td></tr>
       <tr><th>联系方式</th> <td> {{ course.mailbox }} </td></tr>
    </table>
    </div>
    <div class="tab-pane" id="group-md">
      {% if group.count %}
      <table class = "table table-course table-striped">
          <tr><th>时间</th><th>地点</th><th>人数上限</th><th>操作</th></tr>
        {% for p in group %}
            <tr><td><script>weekcode("{{ p.week }}") </script></td><td>{{ p.room }}</td><td>{{ p.limit }}</td>
                    <td>
                  {% if request.session.has_me == p.id %}
                  <a class="btn btn-outline-danger" href="{% url 'courses:leaveGroup' p.id %}">退出</a>
                  {% else %}
                  <a class="btn btn-outline-primary" href="{% url 'courses:joinGroup' p.id %}">选择</a>
                  {% endif %}
              &nbsp;&nbsp;<a class="btn btn-outline-primary" href="{% url 'courses:gdetail' p.id %}">查看</a>
              </td>
          </tr>
        {% endfor %}
      </table>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
{% block ac2 %}active{% endblock %}

