{% extends 'nav.html' %}
  
{% block subtitle %}-学生记录{% endblock %}
{% block main %}

{% load django_bootstrap5 %}
{% bootstrap_messages %}
<div class="container">
    <div class="panel-heading">学生记录</div>
      <form action="" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-sm-4"> <b>{{ form.edate.label_tag }}</b> - {{ form.edate }}</div>
        <div class="col-sm-4"> <b>{{ form.nweek.label_tag }}</b> - {{ form.nweek}} </div>
        <div class="col-sm-4">
        {% bootstrap_button "查询" type="submit" class="btn btn-primary" %}
        </div>
    </div>
      </form>
   <table class="table table-course">
       <tr><th class="d-none d-lg-table-cell">学号</th><th>学生姓名</th><th>座位</th><th>记录</th></tr>
       {% for g in hist %}
       <tr><td class="d-none d-lg-table-cell">{{ g.stu_id}}</td>
           <td><a href="{% url 'courses:evaView' g.group.id g.stu_id %}">{{ g.stu_name }}</a></td>
           <td>{{ g.seat }}</td><td>
               <table class="table table-course">
                   {% for n in g.log %}
                   <tr><td>{{ n.note }}</td><td class="d-none d-lg-table-cell" width="35%">{{ n.note_time|date:"H:i:s" }}</td></tr>
                   {% endfor %}
               </table>
        </td></tr>
       {% endfor %}
   </table>
</div>
{% endblock %}
{% block ac2 %}active{% endblock %}

