{% extends 'nav.html' %}
  
{% block subtitle %}-学生情况{% endblock %}

{% block main %}
<script language="JavaScript">
function SureDel(delurl)
{
    if (confirm("确定要删除这条记录?")){
        location = delurl;
    }
}
</script>
<div class="container">
   <div class="panel-heading">{{ student_name }} 评价表</div>
   <table class="table table-course">
       <tr><th width="20%">时间</th><th>内容</th><th>操作</th></tr>
       {% for g in object_list %}
       <tr><td>{{ g.note_time}}</td>
           <td {% if g.tea_name == request.session.realname %}class="alert-secondary"{% else %}class="alert-dark"{% endif %}>{{ g.note }}
               {% if g.tea_name != request.session.realname %}({{ g.tea_name }}){% endif %}
           </td>
           <td>{% if g.tea_name == request.session.realname %}
               <a class="btn btn-outline-danger" href="javascript:SureDel('{% url 'courses:delEva' g.id %}');">删除</a>
               {% endif %}</td>
       </tr>
       {% endfor %}
   </table>
</div>
{% endblock %}
{% block ac2 %}active{% endblock %}

