{% extends 'nav.html' %}
{% load static %}
 
{% block subtitle %}-课程详情{% endblock %}

{% block main %}
<script src="{% static 'js/weekcode.js' %}"></script>
<script language="JavaScript">
function SureDel(delurl)
{
	if (confirm("确定要删除这条记录?")){
        location = delurl;
	}
}
</script>

<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item"><a class="nav-link" href="{% url 'courses:detail' course.id %}">课程详情</a></li>
    <li class="nav-item"><a class="nav-link active">分组信息</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'courses:schedules' course.id %}">时间安排</a></li>
  </ul>
  <div class="tab-content" id="course-tabs">
      {% if group %}
      <table class = "table table-course table-striped">
          <tr><th>时间</th><th>地点</th><th>任课教师</th><th>人数上限</th><th>操作</th></tr>
        {% for p in group %}
            <tr><td><script>weekcode("{{ p.week }}") </script></td><td>{{ p.room }}</td>
                    <td>{{ p.tea_name }}</td><td>{{ p.limit }}</td>
                    <td>
                {% if request.user.username == 'Student' %}
                  {% if p.has_me == 1 %}
                  <a class="btn btn-outline-danger" href="{% url 'courses:leaveGroup' p.id %}">退出</a>
                  {% else %}
                  <a class="btn btn-outline-primary" href="{% url 'courses:joinGroup' p.id %}">选择</a>
                  {% endif %}
                {% endif %}
                {% if request.session.schoolid == course.tea_id %}
                  <a class="btn btn-outline-danger" href="javascript:SureDel('{% url 'courses:delGroup' p.id %}');">删除</a>
                {% endif %}
              &nbsp;&nbsp;
              {% if request.user.username == 'Student' %}
              <a class="btn btn-outline-primary" href="{% url 'courses:gdetail' p.id %}">查看</a>
              {% else %}
              <a class="btn btn-outline-primary" href="{% url 'courses:logView' p.id %}">查看</a>
              <a class="btn btn-outline-primary" href="{% url 'courses:evaDay' p.id %}">评阅</a>
              {% endif %}
              </td>
          </tr>
        {% endfor %}
      </table>
      {% endif %}
  </div>
{% if request.session.schoolid == course.tea_id %}
<!-- Create book button -->
<button id="add-group" class="btn btn-primary" type="button" name="button">增加</button>
<a class="btn btn-outline-primary" href="{% url 'courses:ghistory' course.id %}">历史</a>
{% endif %}
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>

{% endblock %}
{% block ac2 %}active{% endblock %}
{% block morescripts %}
<script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
<script language="JavaScript">
$(document).ready(function() {

    $("#add-group").modalForm({
        formURL: "{% url 'courses:addGroup' course.id %}"
    });

});
</script>
{% endblock %}
