{% extends 'nav.html' %}

{% load django_bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block subtitle %}
-添加文件
{% endblock %}
{% block ac2 %}active{% endblock %}
{% block main %}
<div class="row">
  <div class="col-md-12">
      <form enctype="multipart/form-data" action="" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% bootstrap_button "提交" type="submit" class="btn btn-primary" %}
  </form>
  </div>
</div>
{% endblock %}
